* {
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

.add-button {
    display: block;
    margin: 0 auto;
    width: fit-content;
}

.container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.container > div {
    max-width: 200px;
    padding: 20px;
    border: 2px solid #101828;
    border-radius: 10px;
    background-color: #1e2939;
    color: white;
}

h1, h3, p {
    text-align: center;
}